@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.tac {
  text-align: center;
}

.tile {
  display: block;
}

.tile--img {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 75px;
}

.tile--description {
  text-align: center;
}

.title {
  margin: 60px 0 40px;
}

.description {
  font-size: 125%;
  line-height: 1.7em;
  margin-bottom: 50px;
}